/PatternsExamples/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
/PatternsExamplesTests/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
/PatternsExamples/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/PatternsExamplesTests/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/PatternsExamples/bin/Debug/Microsoft.Practices.Unity.Configuration.xml
/PatternsExamplesTests/bin/Debug/Microsoft.Practices.Unity.Configuration.xml
/PatternsExamples/bin/Debug/Microsoft.Practices.Unity.dll
/PatternsExamplesTests/bin/Debug/Microsoft.Practices.Unity.dll
/PatternsExamples/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.dll
/PatternsExamplesTests/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.dll
/PatternsExamples/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.xml
/PatternsExamplesTests/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.xml
/PatternsExamples/bin/Debug/Microsoft.Practices.Unity.xml
/PatternsExamplesTests/bin/Debug/Microsoft.Practices.Unity.xml
/PatternsExamples/bin/Debug/nunit.framework.dll
/PatternsExamplesTests/bin/Debug/nunit.framework.dll
/PatternsExamples/bin/Debug/nunit.framework.xml
/PatternsExamplesTests/bin/Debug/nunit.framework.xml
/Patterns.sln.DotSettings.user
/PatternsExamples/obj/Debug/PatternsExamples.csproj.AssemblyReference.cache
/PatternsExamples/obj/Debug/PatternsExamples.csproj.CopyComplete
/PatternsExamples/obj/Debug/PatternsExamples.csproj.CoreCompileInputs.cache
/PatternsExamples/bin/Debug/PatternsExamples.dll
/PatternsExamples/obj/Debug/PatternsExamples.dll
/PatternsExamplesTests/bin/Debug/PatternsExamples.dll
/PatternsExamples/bin/Debug/PatternsExamples.dll.config
/PatternsExamplesTests/bin/Debug/PatternsExamples.dll.config
/PatternsExamples/bin/Debug/PatternsExamples.pdb
/PatternsExamples/obj/Debug/PatternsExamples.pdb
/PatternsExamplesTests/bin/Debug/PatternsExamples.pdb
/PatternsExamplesTests/obj/Debug/PatternsExamplesTests.csproj.AssemblyReference.cache
/PatternsExamplesTests/obj/Debug/PatternsExamplesTests.csproj.CopyComplete
/PatternsExamplesTests/obj/Debug/PatternsExamplesTests.csproj.CoreCompileInputs.cache
/PatternsExamplesTests/obj/Debug/PatternsExamplesTests.csproj.FileListAbsolute.txt
/PatternsExamplesTests/bin/Debug/PatternsExamplesTests.dll
/PatternsExamplesTests/obj/Debug/PatternsExamplesTests.dll
/PatternsExamplesTests/bin/Debug/PatternsExamplesTests.dll.config
/PatternsExamplesTests/bin/Debug/PatternsExamplesTests.pdb
/PatternsExamplesTests/obj/Debug/PatternsExamplesTests.pdb
/PatternsExamplesTests/bin/Debug/Telerik.JustMock.dll
/PatternsExamplesTests/bin/Debug/Telerik.JustMock.xml
